<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Three Column Layout</title>
  <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="base.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Holy Grail Three Colums</h1>
    </header>
    <main>
      <aside class="left">
        Left column, fixed width
      </aside>
      <section>
        Middle column, fluid
      </section>
      <aside class="right">
        Right column, fixed width
      </aside>
    </main>
    <footer><a href="http://alistapart.com/article/holygrail">In Search of the Holy Grail</a></footer>
  </div>
</body>
</html>
